#map-canvas {
/*    padding: 0;
    position : relative !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 40px !important;  
    left : 0 !important;     */
    height: 20em
}

/*#map-canvas {
    padding: 0;
    position : absolute !important; 
    top : 0px !important;  
    right : 0; 
    bottom : 0px !important;  
    left : 0 !important;     
}*/